<div class="content">
	<form method="post" action="/admin/postcateadd">
  <table>
  <tr><th colspan='5'>分类目录添加</th></tr>
  <tr>
    <td>名称：</td>
    <td><input name="name" /></td>
    <td>父级：</td>
    <td><select id="pid" name="pid" style="width:100%;">
    <option value="0" selected="selected">顶级</option>
     {{range .postcate}}
	<option value="{{.Id}}">{{.Name}}</option>
        {{end}}
</select></td>
  	<td><input type="submit" name="submit" id="submit" class="button button-primary" value="添加" /></td>
  </tr>
  </table></form>
  
  <form method="post" action="/admin/postcatemodify" id="postcatemodify">
  <table>
  <tr><th colspan='5' style="background:#e5f2f7; color:#4d4d4d; border:1px solid #cccccc;">分类目录修改</th></tr>
  <tr>
    <td>名称：</td>
    <td><input id="namemodify" name="name" value='' /></td>
    <td>父级：</td>
    <td><select id="pid" name="pid" style="width:100%;">
    <option value="no" selected="selected">不修改父级</option>
    <option value="0">顶级</option>
    {{range .postcate}}
	<option value="{{.Id}}">{{.Name}}</option>
        {{end}}
</select></td>
  	<td><input style="background:#e5f2f7; color:#4d4d4d; border:1px solid #cccccc;" type="button" id="postcateModifySubmit" class="button button-primary" value="修改" /></td>
  </tr>
  <input type="hidden" id="cidmodify" name='cid' value="0" />
  </table></form>
  
  <form method="post" action="/admin/postcatesort">
  <table class="postcenter">
  <tr><th>分类ID</th><th>分类名</th><th>父级分类</th><!--th>排序</th--><th>编辑</th><th>删除</th></tr>
      {{range .postcate}}
  <tr>
 <td>{{.Id}}</td>
 <td style="text-align:left;">{{.Name}}</td>
 <td>{{if eq 0 .Pid}}TOP{{else}}{{.Pname}}{{end}}</td>
<!-- <td><input type="text" size="2" value="{{.Sort}}" name="sort[{{.Sort}}]" /></td>-->
 <td><a class="postcatemodify" cid="{{.Id}}" cname="{{.Name}}" title="修改'{{.Name}}'"><img src="/static/admin/images/edit.gif" /></a></td>
 <td><a href="/admin/delpostcate/id/{{.Id}}" title="删除'{{.Name}}'"><img src="/static/admin/images/delete.gif" /></a></td>
  </tr>
      {{end}}
  </table>
<!--  <input type="submit" value="更新排序" class="button button-primary" id="submit" name="submit">-->
  </form>
	</div>