	<div class="content">
	<form method="get">
	<table align="center">
  <tr><th colspan='3'>分类目录</th></tr>
  <tr>
    <td>分类：</td>
    <td><select name="pid">
		{{if .cateinfo}}
    <option selected="selected" value="{{.cateinfo.Id}}">当前分类：{{.cateinfo.Name}}</option>
		{{end}}
<option value="0">全部</option>
{{range .catedata}}
	<option value="{{.Id}}">{{.Name}}</option>
{{end}}
</select></td>
<!--<input type="hidden" name="pageindex" value="1" />-->
    <td><input type="submit" value="查询"></td>
  </tr>
</table></form>
	<!--div title="文章回收站" data-icon="&#xe07d;" aria-hidden="true" class="fonts3 huishou"><a href="/posthuishouur">文章回收站</a></div-->
<table class="postcenter">
	<tr><th>文章ID</th><th>标题</th><th>分类目录</th><th>日期</th><th>编辑</th><th>删除</th></tr>
	{{range .lists}}
	<tr>
	  <td>{{.Id}}</td>
	  <td><a>{{.Title}}</a></td>
	  <td><a href="">{{.Pid}}</a></td>
	  <td>{{.Time}}</td>
	  <td><a title="编辑{{.Title}}" href="/admin/postmodify/id/{{.Id}}"><img src="/static/admin/images/edit.gif" /></a></td>
	  <td><a title="删除{{.Title}}" href="/admin/delarticle/id/{{.Id}}"><img src="/static/admin/images/delete.gif" /></a></td>
	</tr>
	{{end}}

</table>
{{if gt .pageCount 1}}
<div class="pagination">
	<a class="prev" href="?pid={{.pid}}&pageindex=1">首页</a>
	<a class="num" href="?pid={{.pid}}&pageindex={{.pageIndex | showprepage}}">上一页</a>
	<a class="num" href="?pid={{.pid}}&pageindex={{.nextpage}}">下一页</a>
	<a class="next" href="?pid={{.pid}}&pageindex={{.pageCount}}">末页</a>
	<a style="font-weight: bold;">当前{{.pageIndex}}页 | 共{{.pageCount}}页</a>
</div>
{{end}}
	</div>
