<div class="content">
	<form method="post" action="/Admin/Index/coinaddgo" id="coinaddgo">
  <table>
  <tr><th colspan='2'>用户信息</th></tr>
 
<tr>

    <tr>
        <td>UID：</td>
        <td>{{.uinfo.Id}}</td>
      </tr>

  <tr>
      <td>手机：</td>
      <td>{{.uinfo.Phone}}</td>
    </tr>

    <tr>
        <td>邮箱：</td>
        <td>{{.uinfo.Email}}</td>
      </tr>


        <tr>
          <td>注册时间：</td>
          <td>{{.uinfo.Register_time}}</td>
        </tr>


        <tr>
          <td>登录时间：</td>
          <td>{{.uinfo.Login_time}}</td>
        </tr>

<!--          <tr>-->
<!--              <td>操作：</td>-->
<!--              <td><a href="#" style="background: #4d4d4d; color: #FFF; padding:3px 10px;">按钮</a></td>-->
<!--            -->
<!--            </tr>-->


</form>

  
	</div>
