<div class="content">
	<form method="post" id="useradd">
	<div title="文章列表" data-icon="&#x4a;" aria-hidden="true" class="fonts3 huishou"><a href="/admin/userli">查看用户列表</a></div>
  <table>
  <tr><th colspan='2'>添加用户</th></tr>
  <tr>
    <td>手机：</td>
    <td><input type="text" name="phone" id="phone" size="39" /></td>
  </tr>
  
  <tr>
    <td>密码：</td>
    <td><input type="text" name="password" id="password" size="39" /></td>
  </tr>

  <tr>
    <td>电子邮箱：</td>
    <td><input type="text" name="email" id="email" size="39" /></td>
  </tr>
  
  <tr>
    <td align="right" colspan="2">
    <input type="submit" value="添加" class="button button-primary" id="submit" name="submit" />
    </td>
  </tr></table></form>
	</div>